{% extends 'base.html'%}
{% block start %}
        <div class="container mt-4">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Can vote</th>
                </tr>
            </thead>
            <tbody>
                {%for people in peoples%}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td>{{people.name}}</td>
                    <td>{{people.age}}</td>
                    <td>
                        {% if people.age >= 18 %}
                        ☝️
                        {% else %}
                        👎
                        {% endif %}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            </table>
            <h1>{{text}}</h1>
        </div>
    
    {% endblock %}

